@model AngularViewAdm.Models.ExpositorPago

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>ExpositorPago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Expositor</label>
                <select asp-for="IdExpositor" class="form-control" asp-items="ViewBag.Nombre"></select>
                <span asp-validation-for="IdExpositor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Tipo de pago</label>
                <select asp-for="IdTipoPago" class="form-control" asp-items="ViewBag.TipoDePago"></select>
                <span asp-validation-for="IdTipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modificado" class="control-label"></label>
                <input asp-for="Modificado" class="form-control" />
                <span asp-validation-for="Modificado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
