@model AngularViewAdm.Models.VentaEspacio

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Venta de Espacio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdExpositor" class="control-label"></label>
                <select asp-for="IdExpositor" class="form-control" asp-items="ViewBag.IdExpositor"></select>
                <span asp-validation-for="IdExpositor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCajon" class="control-label"></label>
                <select asp-for="IdCajon" class="form-control" asp-items="ViewBag.IdCajon"></select>
                <span asp-validation-for="IdCajon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVendedor" class="control-label"></label>
                <select asp-for="IdVendedor" class="form-control" asp-items="ViewBag.IdVendedor"></select>
                <span asp-validation-for="IdVendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
